* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
 font-family: Helvetica, Arial, sans-serif;
 padding: 25px;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
}

h1 {
  margin-block: 25px;
}

h3 {
  margin-block: 18px;
}

p {
  max-width: 700px;
  line-height: 24px;
}

img {
  margin-top: 2rem;
  display: flex;
  max-width: 40vw;
  padding-bottom: 2rem;
}